<div id="choose-your-be">
  <div class="custom-field">
    <div class="row">
      <h2>Personalise ton crewneck</h2>
      <div class="col-8">
        <div id="text-inputs">
          <div class="input-group mb-3">
            <input id="make-your-own" type="text" placeholder="First Line" aria-describedby="basic-addon3" class="large-input" name="properties[Make your own first line]">
          </div>
          <div class="input-group mb-3">
            <input id="make-your-own-2" type="text" placeholder="Second Line" aria-describedby="basic-addon3" class="large-input" name="properties[Make your own second line]">
          </div>
        </div>
      </div>
      <div class="col-4">
        <h3>Tâches</h3>
        <div class="line-item-property__field" id="be-stains">
          <input type="radio" class="btn-check" name="properties[choose your stains]" value="1" id="option1" checked autocomplete="off">
          <label class="btn btn-secondary" for="option1">1</label>
          <input type="radio" class="btn-check" name="properties[choose your stains]" value="2" id="option2" autocomplete="off">
          <label class="btn btn-secondary" for="option2">2</label>
          <input type="radio" class="btn-check" name="properties[choose your stains]" value="3" id="option3" autocomplete="off">
          <label class="btn btn-secondary" for="option3">3</label>
          <input type="radio" class="btn-check" name="properties[choose your stains]" value="4" id="option4" autocomplete="off">
          <label class="btn btn-secondary" for="option4">4</label>
        </div>
      </div>
    </div>

  </div>
  <div class="form-check line-item-property__field hidden" id="be-words">
    <label>choose your word</label><br>
  </div>
</div>
