<div id="product-media" class="custom-image">
  <div class="product-media-inner js-dependent" data-product-images>
    <div
            class="product-media-item product-single__media--selected"
            data-product-image-src="products/BE-H2-HOODIE-JAUNE-5.png"
            data-media-id="media-template-test-test"
            data-media-type="image"
            data-media-aspect="0.6666666666666666"
    >
      <div class="custom-visual">
        <img src="" class="main-image"/>
        <div class="back-print">
          <div class="custom-stains">
            <img src="https://cdn.shopify.com/s/files/1/0505/5751/7976/files/crewneck-blue-stains-1.png?v=1662820821"
                 class="stains"/>
          </div>
          <div class="custom-text">
            <div id="first-line"></div>
            <div id="second-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
